<h1>Booking <%= @wand.name %> </h1>

<%= simple_form_for ([@wand, @booking]) do |w| %>
  <%#= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= w.input :check_in %>
  <%= w.input :check_out %>
  <%= w.button :submit %>
<% end %>
