<%= simple_form_for (wand) do |w| %>
  <%= w.input :name %>
  <%= w.input :description %>
  <div class= 'form-row'>
    <div class= 'form-col-4'>
      <%= w.input :wood, collection: Wand::WOOD_TYPES, input_html: { class: 'select2' } %>
    </div>
    <div class= 'form-col-4'>
      <%= w.input :core, collection: Wand::CORE_TYPES, input_html: { class: 'select2' } %>
    </div>
  </div>
  <div class= 'form-row'>
    <div class= 'form-col-4'>
      <%= w.input :price %>
    </div>
    <div class= 'form-col-4'>
      <%= w.input :size %>
    </div>
  </div>
  <%= w.input :photos, as: :file, input_html: { multiple: true } %>
  <%= w.button :submit %>
<% end %>
