<div class="background-color-brown d-flex justify-content-center align-self-center h-100 w-100">
  <div class="transparent-background h-75 w-75 p-5">
    <h1 class="dashboard-header">Welcome, <%= @user.first_name %></h1>

    <div>
      <% if @wands %>
        <ul>
          <%= @wands %>
          <% @wands.each do |wand| %>
            <li>
              <%= wand.name %>
              <%= link_to edit_wand_path(wand) do %><i class="fas fa-pencil-alt card-link"></i><% end %>
              <%= link_to wand, method: :destroy, data: { confirm: 'Are you sure?'}  do %><i class="fas fa-trash-alt card-link"></i><% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <h3>You have not posted any listings yet</h3>
      <% end %>
      <%= link_to 'Post a New Wand Listing', new_wand_path %>
    </div>

    <div>
      <% if @bookings %>
        <ul>
          <% @bookings.each do |booking| %>
            <li><%= booking.check_in %> - <%= booking.check_out %></li>
          <% end %>
        </ul>
      <% else %>
        <h3>You have no bookings</h3>
      <% end %>
    </div>

  </div>
</div>
