<div class="background-img">

  <div class="cards d-flex row justify-content-center">

    <% @wands.each do |wand| %>
      <div class="card col-3 m-5">
        <%= cl_image_tag wand.photos.first.key, height: 200, crop: :fill, class: "card-img-top" %>
        <div class="card-body">
          <h3 class="card-title"><%= link_to wand.name.capitalize, wand_path(wand)%></h3>
          <% if current_user == wand.user %>
            <%= link_to edit_wand_path(wand) do %><i class="fas fa-pencil-alt card-link"></i><% end %>
            <%= link_to wand, method: :destroy, data: { confirm: 'Are you sure?'}  do %><i class="fas fa-trash-alt card-link"></i><% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

    <% if policy(Wand).new? %>
      <%= link_to 'New Wand Listing', new_wand_path %>
    <% end %>
