<div class="container pad20">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @wand.photos.each do |photo| %>
      <div class="carousel-item active images">
        <%= cl_image_tag(photo.key, class: "d-block w-50 images") %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  <h1><%= @wand.name %></h1>
  <h3><%= @wand.description %></h3>

  <h5>wood: <%= @wand.wood %></h5>
  <h5>core: <%= @wand.core %></h5>
  <h5>size: <%= @wand.size %> cm</h5>
  <h5>price: $ <%= @wand.price %></h5>


  <% if current_user == @wand.user %>
    <%= link_to edit_wand_path(@wand) do %><i class="fas fa-pencil-alt"></i><% end %>
    <%= link_to 'delete', wand_path, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

  <% if policy(Booking).new? %>
    <%= link_to 'book', new_wand_booking_path(@wand) %>
  <% end %>
</div>
